/*////////////////////////
/// Variables
////////////////////////*/
$lightGreen: #94FFB8;
$strongGreen: #30B25B;
$strongRed: #FF2923;
$lightRed: #FF8C89;
/*////////////////////////
/// General
////////////////////////*/
body {
  font-size: 20px;
  background-color: $lightGreen;
}
a {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
/*////////////////////////
/// IDs
////////////////////////*/

/*////////////////////////
/// Classes
////////////////////////*/
.movie-article {
  position: relative;
}
.movie-anchor {

}
.movie-image {

}
.movie-imageWrapper {

}
.movie-title {
  position: absolute;
}
.movie-year {
  position: absolute;
}
.movie-qualityList {
  position: absolute;
}
.movie-quality {

}
