/*////////////////////////
/// Variables
////////////////////////*/
/*////////////////////////
/// General
////////////////////////*/
body {
  font-family: 'Bitter', serif;
  text-align: center;
  font-size: 20px;
  background-color: #94FFB8; }

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

h2 {
  padding: 0;
  margin: 0; }

h1 {
  border-bottom: 0.2em solid #FF8C89; }

/*////////////////////////
/// IDs
////////////////////////*/
#list {
  text-align: center; }

#form {
  display: inline-block;
  vertical-align: middle; }

/*////////////////////////
/// Classes
////////////////////////*/
.title-container {
  width: 10em;
  display: inline-block;
  vertical-align: middle; }

.options {
  background-color: #c7ffda;
  border: #FF8C89 dashed 0.1em;
  margin-bottom: .8em; }

.movie-article {
  position: relative;
  max-width: 12em;
  display: inline-block;
  border: 0.25em solid #FF8C89;
  margin: .7em;
  overflow: hidden; }

.movie-imageWrapper {
  margin: 0;
  font-size: 0; }

.movie-title {
  background-color: #FF8C89;
  font-size: .9em;
  position: absolute;
  bottom: .5em;
  left: 0;
  right: 0; }

.movie-year {
  background-color: #FF8C89;
  border-radius: .2em;
  position: absolute;
  top: 1em;
  left: -1.5em;
  transform: rotate(-45deg);
  padding: 0.1em 2em 0 2em; }

.movie-qualityList {
  position: absolute;
  top: -.5em;
  right: -.1em; }

.movie-quality {
  background-color: #FF8C89;
  border-radius: .2em;
  padding: .1em;
  display: block;
  margin-bottom: .5em; }
