/*////////////////////////
/// Variables
////////////////////////*/
/*////////////////////////
/// General
////////////////////////*/
body {
  font-size: 20px;
  background-color: #94FFB8; }

a {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h2 {
  padding: 0;
  margin: 0; }

/*////////////////////////
/// IDs
////////////////////////*/
#list {
  text-align: center; }

/*////////////////////////
/// Classes
////////////////////////*/
.movie-article {
  position: relative;
  max-width: 12em;
  display: inline-block;
  border: 0.25em solid #FF8C89;
  margin: .7em;
  overflow: hidden; }

.movie-imageWrapper {
  margin: 0;
  font-size: 0; }

.movie-title {
  background-color: #FF8C89;
  font-size: .9em;
  position: absolute;
  bottom: .5em;
  left: 0;
  right: 0; }

.movie-year {
  background-color: #FF8C89;
  border-radius: .2em;
  position: absolute;
  top: 1em;
  left: -1.5em;
  transform: rotate(-45deg);
  padding: 0.1em 1.5em 0 2em; }

.movie-qualityList {
  position: absolute;
  top: 0;
  right: -.1em; }

.movie-quality {
  background-color: #FF8C89;
  border-radius: .2em;
  padding: .1em; }
