/*////////////////////////
/// Variables
////////////////////////*/
/*////////////////////////
/// General
////////////////////////*/
body {
  font-size: 20px;
  background-color: #2c3e50;
  color: white; }

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white; }

li {
  list-style: none; }

h2 {
  padding: 0;
  margin: 0; }

.title {
  text-align: center;
}

.formClass {
  text-align: center;
  color: black;
}

.formClass button {
  font-size: 1.5rem;
}

/*////////////////////////
/// IDs
////////////////////////*/
#list {
  text-align: center; }

/*////////////////////////
/// Classes
////////////////////////*/
.movie-article {
  position: relative;
  max-width: 12em;
  display: inline-block;
  border: 0.25em solid #c0392b;
  margin: .7em;
  overflow: hidden; }

.movie-imageWrapper {
  margin: 0;
  font-size: 0; }

.movie-title {
  background-color: #2980b9;
  font-size: .9em;
  position: absolute;
  bottom: .5em;
  left: 0;
  right: 0;
  border: 2px solid white; }

.movie-year {
  background-color: #2980b9;
  border-radius: .2em;
  position: absolute;
  top: 1em;
  left: -1.5em;
  transform: rotate(-45deg);
  padding: 0.1em 1.5em 0 2em;
  border: 2px solid white; }

.movie-qualityList {
  position: absolute;
  top: -.5em;
  right: -.1em; }

.movie-quality {
  background-color: #2980b9;
  border-radius: .2em;
  padding: .1em;
  display: block;
  margin-bottom: .5em;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white; }






