/*////////////////////////
/// Variables
////////////////////////*/
$lightGreen: #94FFB8;
$strongGreen: #30B25B;
$strongRed: #FF2923;
$lightRed: #FF8C89;
/*////////////////////////
/// General
////////////////////////*/
body {
  font-family: 'Bitter', serif;
  text-align: center;
  font-size: 20px;
  background-color: $lightGreen;
}
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
h2 {
  padding: 0;
  margin: 0;
}
h1 {
  border-bottom: .2em solid $lightRed;
}
/*////////////////////////
/// IDs
////////////////////////*/
#list {
  text-align: center;
}
#form {
  display: inline-block;
  vertical-align: middle;
}
/*////////////////////////
/// Classes
////////////////////////*/
.title-container {
  width: 10em;
  display: inline-block;
  vertical-align: middle;
}
.options {
  background-color: lighten($lightGreen, 10%);
  border: $lightRed dashed .1em;
  margin-bottom: .8em;
}
.movie-article {
  position: relative;
  max-width: 12em;
  display: inline-block;
  border: .25em solid $lightRed;
  margin: .7em;
  overflow: hidden;
}
.movie-anchor {

}
.movie-image {

}
.movie-imageWrapper {
  margin: 0;
  font-size: 0;
}
.movie-title {
  background-color: $lightRed;
  font-size: .9em;
  position: absolute;
  bottom: .5em;
  left: 0;
  right: 0;
}
.movie-year {
  background-color: $lightRed;
  border-radius: .2em;
  position: absolute;
  top: 1em;
  left: -1.5em;
  transform: rotate(-45deg);
  padding: .1em 1.5em 0 2em;
}
.movie-qualityList {
  position: absolute;
  top: -.5em;
  right: -.1em;
}
.movie-quality {
  background-color: $lightRed;
  border-radius: .2em;
  padding: .1em;
  display: block;
  margin-bottom: .5em;
}
